<?xml version='1.0' encoding='utf-8'?>
<widget id="ph.com.divespot" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Divespot</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="admin@divespot.com.ph" href="http://divespot.com.ph">
        divespot.com.ph
    </author>
    <content src="index.html" />
    <access origin="http://divespot.com.ph" subdomains="true" />
</widget>
